repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/kynan/nbstripout
    rev: 0.5.0
    hooks:
      - id: nbstripout
        name: Strip outputs from notebooks

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.5.0
    hooks:
      - id: nbqa-black
      - id: nbqa-ruff
        additional_dependencies: ["ruff"]

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
