name: Build and Publish Docs

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install jupyter-book

      - name: Copy notebooks and markdowns
        run: |
          mkdir -p JupyterBooks/notebooks
          rsync -av notebooks/ JupyterBooks/notebooks/ --include '*.ipynb' --include '*.md' --exclude '*' || true

      - name: Build JupyterBook
        run: |
          jupyter-book build JupyterBooks/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./JupyterBooks/_build/html
